body {
    background-image: url("Images/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: 6rem;
    margin-right: -35rem;
}

.container {
    display: flex;
    text-align: center;
    margin-right: -35rem;
}

.big {
    font-size: 6rem;
    font-weight: normal;
}

.s span {
    font-size: 5rem;
    margin: 0 30px;
    font-weight: bold;
}